.hidden {
   display: none;
}


body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size:14px;
  line-height:26px;
  font-weight:normal;
  color:#000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;

  background-color:#f2f2f2;
}


a {
  text-decoration: none;
}


.site_navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  color:#000000;
  background-color:#ffffff;
}
.site_navigation {
  list-style: none;
}
.site_navigation a {
  color: #000000;
}
.site_navigation a:hover,
.site_navigation a:focus {
  color: #81b3d2;
}

.focus_text a {
  color:black;
  font-size:21px;
  font-weight:700;

}

.focus_text a:hover,
.focus_text a:focus {
  color: #81b3d2;
}

.focus_text h2:active {
  color:#b2b2b2;
}

.focus_text a:active {
  color:#b2b2b2;
}

.button {
  font-weight:700;
  border: medium none;
}

.brown {
  color:#ffffff;
  background-color:#766357;
}

.brown:hover,
.brown:focus {
  background-color:#604e43;
}

.brown:active {
  background-color:#766357;
  color:#857871;
}

.blue {
  color:#ffffff;
  background-color:#81b3d2;
}

.blue:hover,
.blue:focus {
  background-color:#669ec0;
}

.blue:active {
  background-color:#5496bd;
  color:#88b6d1;
}

.footer_social {
  text-align: center;
}

.footer_social ul {
  list-style: none;
}

.social_button {
  color: black;
}

.footer_copyright {
  text-align: center;
}

.main_footer {
  background-color:white;
}

.main_header {
  background-color:white;
}

.main_info {
  background-color:white;
}

/*Общие теги*/
.other_page .site_navigation_active a {
  color:#766357;
}

.reasons {
  text-align:center;
}

.reasons b {
  font-size:21px;
  color:333333;
}

.interesting {
  text-align:center;
}

.interesting b {
  font-size:21px;
  color:333333;
}

.modal_window {
  color:#000000;
  background-color:#ffffff;
  font-weight:700;
}

.modal_form {
  border:none;
  font-weight:700;
}

.modal_form .search {
  background-color:#81b3d2;
  border:medium none;
  font-size:21px;
  color:#ffffff;
  text-transform: uppercase;
}

.modal_form input {
  border: medium none;
  background-color:#f2f2f2;
}
