.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size:14px;
  line-height:26px;
  font-weight:normal;
  color:#000000;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;

  background-color:#f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site_navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight:700;
  color:#000000;
  list-style: none;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.site_navigation a {
  color: #000000;
  display:inline-block;
  margin-top:12px;
  margin-left:72px;
  margin-right:72px;
}

.site_navigation li:nth-child(2)  {
  padding-right:268px;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #81b3d2;
}

.focus_text a {
  color:black;
  font-size:21px;
  font-weight:700;

}

.focus_text a:hover,
.focus_text a:focus {
  color: #81b3d2;
}

.focus_text h2:active {
  color:#b2b2b2;
}

.focus_text a:active {
  color:#b2b2b2;
}

.button {
  font-weight:700;
  border: medium none;
}

.brown {
  color:#ffffff;
  background-color:#766357;
}

.brown:hover,
.brown:focus {
  background-color:#604e43;
}

.brown:active {
  background-color:#766357;
  color:#857871;
}

.blue {
  color:#ffffff;
  background-color:#81b3d2;
}

.blue:hover,
.blue:focus {
  background-color:#669ec0;
}

.blue:active {
  background-color:#5496bd;
  color:#88b6d1;
}

.footer_social {
  text-align: center;
}

.footer_social  {
  list-style: none;
}

.social_button {
  color: black;
}

.footer_copyright {
  text-align: center;
}

.main_footer {
  background-color:white;
}

.main_header {
  background-color:white;
}

.main_info {
  background-color:white;
}
/*Общие теги*/


.other_page .site_navigation_active a {
  color:#766357;
}

.reasons {
  text-align:center;
}

.reasons b {
  font-size:21px;
  color:333333;
}

.interesting {
  text-align:center;
}

.interesting h2 {
  font-size:30px;
  color:333333;
}

.modal_window {
  color:#000000;
  background-color:#ffffff;
  font-weight:700;
}

.modal_form {
  border:none;
  font-weight:700;
}

.modal_form .search {
  background-color:#81b3d2;
  border:medium none;
  font-size:21px;
  color:#ffffff;
  text-transform: uppercase;
}

.modal_form input {
  border: medium none;
  background-color:#f2f2f2;
}


/**/

.container {
  width: 1200px;
  margin: 0 auto;
  background-color:#ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.main_navigation {
  min-height:56px;
}

.header_main_logo {
  width:140px;
  min-height:72px;
  left:50%;
  margin-left:-70px;
  position:absolute;

}

.site_navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_footer {
  min-height:120px;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-between;
}

.footer_hashtag {
  width:240px;
  text-align:center;
  margin-left:72px;
}

.footer_copyright {
  width:240px;
  text-align:center;
  margin-right:72px;
}

.footer_social {
  width:400px;
  text-align:center;

}

.social_button {
  display:inline-block;
  width:46px;
  height:48px;
  margin-right:6px;
  background-color:#81b3d2;
}

.icon-twitter {
  background-image:url("../img/twitter.svg");
  background-repeat:no-repeat;
  background-size:17px 15px;
  background-position:50% 50%;
}

.icon-facebook {
  background-image:url("../img/facebook.svg");
  background-repeat:no-repeat;
  background-size:12px 23px;
  background-position:50% 50%;
}

.icon-youtube {
  background-image:url("../img/youtube.svg");
  background-repeat:no-repeat;
  background-size:20px 16px;
  background-position:50% 50%;
}
/*Общие теги*/


.welcome {
  background-color:grey;
  background-image:url("../img/polygon.jpg");
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  min-height:508px;
}

.welcome_inscription {
  width:460px;
  min-height:350px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:76px;
}

.reasons {
  padding-top:60px;
}

.interesting {
  width:100%;
  padding-top:55px;
  margin-bottom:50px;
}

.map {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}

.map img {
  width:100%;
  min-height:472px;
}
.map button {
  width:569px;
  min-height:86px;
  align-self:center;
  font-size:21px;
  font-weight:700;
  text-transform:uppercase;
}

.result {
  width:1056px;
  min-height:150px;
  display:flex;
  flex-direction:row;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  padding-left:72px;
  padding-right:72px;
  flex-wrap:wrap;
}

.hotel_img {
  padding-top:30px;
  padding-bottom:30px;
}

.name_detali_and_buttons {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  min-height:150px;
  margin-top:28px;
  margin-left:30px;
}
.hotel_name h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size:21px;
}

.buttons_detail {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:flex-end;
  margin-top:5px;
}

.hotel_and_button a {
  margin-top:9px;
  width:110px;
  min-height:27px;
  text-align:center;
}

.price_and_button a {
  margin-top:9px;
  width:142px;
  min-height:27px;
  text-align:center;
}

.price_and_button {
  display:flex;
  flex-direction:column;
}

.hotel_and_button {
  display:flex;
  flex-direction:column;
  margin-right:7px;
}

.rating {
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  flex:2;
}

.rating_star {
  margin-top:29px;
  margin-bottom:20px;
}

.rating p {
  margin-bottom:30px;
}

.search_button {
  min-height:58px;
  text-align:center;
  vertical-align:middle;
  padding-right:160px;
  padding-left:160px;
  font-size:21px;
  font-weight:700;
  text-transform:uppercase;
}
